<div class="static content">
<% if params[:locale] == 'ua'%>
<p>До кожного клієнта ми шукаємо індивідуальний підхід. Приймаємо точні вказівки і завдання . Йдемо чітко за курсом , який заздалегідь узгоджуємо з клієнтом. З нами можна тримати зв'язок позаробочий час, на вихідних і завжди, коли це необхідно.</p>
Ми цінуємо час і гроші наших клієнтів.</p>
<p>Наша мета - успіх клієнта. Так як позитивний результат від проведених рекламних кампаній веде до розширення рекламного бюджету і пролонгації рекламних програм.</p>
<p>Довгострокові партнерські відносини дозволяють максимально знизити вартість на друк рекламних матеріалів для клієнта. Ми працюємо з найбільшими друкарнями в Україні та регіонах. Додаткове співробітництво в регіонах допомагає економити безцінний час , який втрачається при відправці друкованої продукції з Києва у більш віддалені куточки України .</p>

<p>Нижче добірка деяких клієнтів , з якими маємо честь працювати.</p>
<% else %>
<p>К каждому клиенту  мы ищем индивидуальный подход. Принимаем точные указания и задачи. Идем  четко по курсу, который  заранее согласовываем с клиентом.  С нами можно держать связь внерабочее время, на выходных и  всегда, когда это необходимо.
Мы ценим время и деньги наших клиентов.</p>
<p>Наша цель – успех  клиента . Так как позитивный результат от проведенных рекламных кампаний ведет к расширению рекламного бюджета и продлению рекламных программ.</p>
<p>Долгосрочные партнерские отношения позволяют максимально снизить стоимость  на печать рекламных материалов для клиента. Мы работаем с крупнейшими типографиями в Украине и регионах. Дополнительное сотрудничество в регионах помогает  экономить бесценное время, которое теряется при отправке печатной продукции из  Киева в более отдаленные уголки Украины.</p>
 
<p>Ниже подборка некоторых клиентов, с которыми имеем честь  работать.<p>
<% end %>
</div>
