<div class="static content">
<% if params[:locale] == 'ua'%>

  <p>office@m-o.com.ua</p>
  <p>
  ул. Бельведерская 2 А, оф. 12<br>
  БЦ Фортуна<br>
  Івано-Франківськ<br>
 79018
 </p>

 <p>Тел./факс (0342) 72 56 35</p>
 <p>(096) 935-12-00</p>
<% else %>
<p>office@m-o.com.ua</p>
<p>
ул. Бельведерская 2 А, оф. 12<br>
БЦ Фортуна<br>
Ивано-Франковск<br>
79018<br>
 </p>

<p>Тел./факс (0342) 72 56 35</p>
<p>(096) 935-12-00</p>
<% end %>
</div>
