<div class="static content">
<% if params[:locale] == 'ua'%>
<p> <b>Максимус-Аутдор</b> – молода команда професіоналів з багатолітнім досвідом.  </p>
<p>
Головним напрямком нашої діяльності є розміщення зовнішньої реклами. Увесь наш потенціал зосереджено саме на outdoor рекламі, заради досягнення найкращих результатів. Також ми можемо запропонувати весь спектр рекламних послуг.  Для задоволення потреб клієнта в інших видах реклами застосовуємо аутсорсінг. Співпраця з професіоналами дасть найкращий результат.
</p>
Відповідальність до виконання поставлених завдань, технічна основа, ретельність підбору і повні бази даних є запорукою виконання завдання будь-якої складності.
<p>
Вдячність і відданість наших клієнтів є для нас найвищою оцінкою.
</p>
<h2>Наші правила</h2>
<ul>
<li> Дбаємо про наших клієнтів і допомагаємо їм бути на крок попереду наших конкурентів </li>
<li> Цінуємо наших партнерів </li>
<li> Поважаємо наших конкурентів </li>
<li> Вдосконалюємoсь з кожним днем </li>
<li> Завжди налаштовані на довгострокову і плідну співпрацю </li>
<li> Йдемо в ногу з часом </li>
<li> Кожен новий день – нова сходинка вверх, новий досвід і висновки, новий виток у розвитку </li>
</ul>
<h2>Що нас виділяє?</h2>
<p>Ми впевнено плануємо, набираємо і проводимо рекламну програму любої складності та обєму пропонуючи КРАЩІ ціни.</p>
<h2>Наша мета – успіх наших клієнтів.</h2>
<p>Адже ми розуміємо, що наша винагорода напряму залежить від результатів і ефективності рекламної кампанії.</p>

<% else %>
  <p><b>Максимус-Аутдор – молодая команда профессионалов с многолетним опытом.</b></p>
<p>Главным направлением нашей деятельности является размещение наружной рекламы. Весь наш потенциал сосредоточен именно в наружке, ради достижения наилучших результатов. 
Также, мы можем предложить весь спектр рекламных услуг. Для удовлетворения потребностей клиента в других видах рекламы, используется аутсорсинг. Сотрудничество с профессионалами в той или иной сфере всегда даст только лучший результат.</p>

<p>Ответственность к выполнению поставленных задач, техническая основа, тщательность подбора и полные базы данных  это залог исполнения  задач любой сложности.</p>
<p>Благодарность и  преданность наших клиентов является для нас самой высокой оценкой.</p>

<h2>НАШИ ПРАВИЛА:</h2>
<ul>
<li>Заботимся о наших Клиентах. Помогаем им быть на шаг впереди конкурентов;</li>
<li>Ценим наших Партнеров;</li>
<li>Уважаем наших Конкурентов;</li>
<li>Совершенствуемся с каждым днем;</li>
<li>Всегда настроены на долгосрочное и плодотворное сотрудничество; </li>
<li>Идем в ногу со временем;</li>
<li>Каждый день - новая ступенька вверх, новый опыт и выводы, новый виток в развитии.</li>
 </ul>
 <h2>ЧТО НАС ВЫДЕЛЯЕТ?</h2>
 <p>Мы уверенно планируем, набираем  и проводим  рекламную программу любой сложности или объема предлагая ЛУЧШИЕ цены.
Гибкость, умение решать нестандартные задачи.
Индивидуальный подход к каждому клиенту, к каждой поставленной задаче.</p>

<h2>НАША ЦЕЛЬ - успех нашего клиента.</h2>
<p>Ведь мы понимаем, что наше вознаграждение напрямую зависит от результатов и эффективности рекламной кампании.</p>

<% end %>
</div>
