%div{:align => 'center', :style => 'width:100%;'}
  %div{:style => 'width:80%; font-size:16px; text-align: left'}
    :plain
      <p>
      Максимус-аутдор - команда профессионалов с многолетним опытом.
      Главным направлением нашей деятельности является размещение наружной рекламы.
      Весь наш потенциал направлено в основной вид деятельности, ради достижения наилучших результатов. 
      Для удовлетворения потребностей клиента в других видах рекламы, используется аутсорсинг. 
      Мы работаем в области наружной рекламы на территории всей Украины сотрудничая с более чем 400 операторами, как мелкими местными, так и большими сеточными. Ответственность к выполнению поставленных задач, техническая основа, тщательность подбора и полные базы данных позволяют выполнить задачи любой сложности. 
      Благодарность и верность наших клиентов является показателем профессионализма и преданности своему делу.   
      </p>
      <p>
        Что нас выделяет?<br>
        Мы уверенно реализуем рекламную программу любой сложности или объема предлагая лучшие цены.<br>
        Наша цель - успех нашего клиента.
      </p>
      <p>
        Мы понимаем, что наше вознаграждение напрямую зависит от результатов и эффективности рекламной компании.
      </p>

      <p>
        <a href="/PrFZ.pptx">Рекламна компанія 01-05-2012-01.06.2012.pptx</a>
      </p>
