<div class="static content">
<% if params[:locale] == 'ua'%>
  <p>Досвід роботи наших співробітників у галузі зовнішньої реклами від двох до шести років.</p> 
  <p>Досвід проведення більш 200 рекламних кампаній.</p>
<h2>Наша команда</h2>
<ul>
  <li>відділ по роботі з клієнтами</li>
  <li>відділ обробки інформації </li>
  <li>креативний відділ </li>
  <li>IT</li>
</ul>
<p>Тісна взаємодія всієї команди і співпраця з довіреними підрядниками у всіх куточках України ведуть до успішної реалізації рекламної кампанії.  Будучи Командою, ми підтримуємо досягнення один одного.</p>

<p>
Шкромида  Мар’яна  mari@m-o.com.ua<br>
Директор <br>
Робота з ключовими клієнтами, контроль ведення програм, <br>
Вирішення нестандартних ситуацій, фінансовий контроль.<br>
</p>

<p>
Гладенька Ірина   ira@m-o.com.ua <br>
Провідний менеджер<br>
Планування,  набір і ведення рекламних програм.  <br>
Робота з клієнтами<br>
</p>
 
<p>
Кульчицький Артур  artur@m-o.com.ua   <br>
Менеджер з обробки інформації<br>
Робота з підрядниками,  підготовка адресних  пропозицій,   фото-звіти<br>
</p>

<p>
Кізан Наталія nata@m-o.com.ua <br>
Бухгалтер<br>
Фінансовий контроль, документообіг.<br>
</p>

<p> Відділ графічного дизайну– Струтинський Борис , Яблонський Роман.  </p>
<p> IT підтримка - Романченко Роман.  </p>
<% else %>
<p> Опыт работы наших сотрудников в области наружной рекламы от двух до шести лет.</p>
<p>Опыт проведения более 200 рекламных кампаний.</p>
<h2>Наша команда</h2>
<ul>
  <li>отдел по работе с клиентами </li>
  <li>отдел обработки информации </li>
  <li>креативный отдел </li>
  <li>IT</li>
</ul>
 <p>Тесное взаимодействие всей команды и сотрудничество с доверенными подрядчиками во всех уголках Украины ведут к успешной реализации рекламной кампании.  Будучи Командой, мы поддерживаем достижения друг друга.</p>

<p>
Шкромыда  Марьяна  mari@m-o.com.ua <br>
Директор <br>
Работа с ключевыми клиентами, контроль ведения программ,  Решение нестандартных ситуаций, финансовый контроль.<br>
</p>

<p>
Гладенька Ирина   ira@m-o.com.ua <br>
Ведущий менеджер<br>
Планирование, набор и ведение рекламных программ.  Работа с клиентами.<br> 
</p>

<p>
Кульчицкий Артур  artur@m-o.com.ua   <br>
Менеджер по обработке информации<br>
Работа с подрядчиками, подготовка адресных предложений,  фото-отчеты<br>
</p>

<p>

Кизан Наталья nata@m-o.com.ua <br>
Бухгалтер<br>
Финансовый контроль, документооборот.<br>
</p>


<p> Отдел графического дизайна-Струтинский Борис, Яблонский Роман.  </p>
<p> IT поддержка - Романченко Роман </p>
<% end %>
</div>
